@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.active-link {
  color: green;
  text-decoration: underline;
}
.inactive-link {
  text-decoration: none;
}
